a {
    text-decoration: none;
}
html {
    font-size: 100%;
}
@font-face {
    font-family: "MyFont";
    src: url(../fonts/Futura-Dem.ttf);
}
@font-face {
    font-family: "MyFont2";
    src: url(../fonts/Futura-DemObl.ttf);
}
@font-face {
    font-family: "MyFont3";
    src: url(../fonts/Futura-Med.ttf);
}
@font-face {
    font-family: "MyFont4";
    src: url(../fonts/Futura-Bol.ttf);
}

.title {
    text-align: center;
    padding: 50px;
    font-size: 60px;
    font-family: "MyFont4";
    color: #3F5DDA;
}
/*HEADER
---------------------------------------------------*/
.main-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 47px;
    font-size: 28px;

}
.main-nav li {
    padding: 32px 16px;
    font-family: "MyFont";
}
.main-nav a{
    color: #fff;
}
.main-nav a:hover {
    color: #3F5DDA;
}

/*HOME
------------------------------------------------------*/
#home {
    background-size: cover;
    background-position: center top;
    background-image: url(../images/background1.jpg);
    max-width: 100%;
    min-height: 100vh;
}
.logo {
    width: 850px;
}
.page-title {
    text-align: center;
    margin-top: 140px;
}
.page-title p {
    color: #fff;
    margin-top: 20px;
    font-size: 48px;
    font-family: "MyFont2";
}
/*Introduction
------------------------------------------------------*/
#introduction {
    text-align: center;
}
#introduction img {
    width: 500px;

}
.content1 img,
.content2 div {
    margin-right: 90px;
}
.content1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.content2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.content p {
    width: 410px;
    line-height: 2;
    padding: 20px;
    text-align: left;

}
.content1,
.content2 {
    margin: 0 0 60px 0;
}
.button1:hover,
.button2:hover {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));

}
/* ボタン */
.button1,
.button2 {
    color: #fff;
    font-size: 20px;
    font-family: "MyFont";
    border-radius: 10px;
    padding: 10px 40px;
}
.button1 {
    background: #3F5DDA;
}
.button2 {
    background: #FFC002;
}
.button3 {
    background: #F16629;
}
.button4 {
    background: #28A9DF;
}
.button5 {
    background: #333333;
}
.button6 {
    background: #FF5252;
}
.button7 {
    background: #FFD700;
}
.button8 {
    background: #FE7535;
}
.button9 {
    background: #72CFDD;
}
.btn {
    color: #fff;
    font-size: 10px;
    border-radius: 10px;
    font-family: MyFont;
    padding: 12px 28px;
    width: 170px;
}

/*Courses
---------------------------------------------------------*/
#courses {
    background-color: #D6E5F9;
}
.lessons {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 60px;
}
.course-item {
    text-align: center;
    width: 240px;
    height: 340px;
    background: #fff;
    margin: 15px 10px;
    padding: 45px 0;    
    border-radius: 10px;
}
.course-item-img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course-item p {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin: 30px 45px;
    color: #173C61;
}
.course-item a {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

/*IMAGES
-------------------------------------------------------*/
.images-contents {
    display: flex;
}
.images-contents img {
    width: 288px;
}

/* ACCESS
-------------------------------------------------------*/
#access {
    text-align: center;
}
iframe {
    margin-bottom: 40px;
    width: 50%;
}

/*FOOTER
-------------------------------------------------------*/
footer {
    text-align: center;
    margin: 20px;
    font-size: 22px;
    font-family: "MyFont3";
    color: #3F5DDA;

}